body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  color: #111827;
}


a {
  text-decoration: none;
  color: inherit;
}


button {
  cursor: pointer;
  font-family: inherit;
}


.center {
  display: flex;
  align-items: center;
  justify-content: center;
}


.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
